/**FONTS**/

body {
    font-family: 'Montserrat', sans-serif;
    }

h1 {
    font-size: 2rem;
    font-style: 900;
    margin: 0.67em 0;
    }

h2 {
    font-size: 2rem;
    font-weight:500;
    margin: 0.67em 0;
    }

/**CONTAINER**/

.img{
    height:auto;
    width:100%;
}


.introduction {
    height:100vh;
    width: 100%;
    background:url(../img/01_Titelbild_1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.no{
    height:100vh;
    width:100%;
    background:url(../img/OH_NO_1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1
}


.line{
    height:100vh;
    width:100%;
    background:url(../img/01_Linie_1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;        
}

.padding{
    height: 600px;
}

.background_yellow {
    height:100vh;
    width: 100%;
    background-color: #ffff00;
    }

.outside {
    height:100vh;
    width: 100%;
    background:url(../img/outside_1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.kachel_line {
    width: 100%;
    background:url(../img/kachel_line.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.walking {
    width: 100%;
    background:url(../img/walking.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.boden {
    width: 100%;
    background:url(../img/boden.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.kurve {
    width: 100%;
    background:url(../img/kurve_2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
}

.jump {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
}

.zindex1 {
    z-index: 1
}

.zindex2 {
    z-index: 2
}


/**Button**/
a {
  padding-top: 80px;
}
a span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a span:nth-of-type(1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
a span:nth-of-type(2) {
  bottom: 30px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
a span:nth-of-type(3) {
  bottom: 50px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




/* ------- Default Stil */

.transition-speed {
   -webkit-transition: 1200ms cubic-bezier(1, 0, 0, 1) 0ms; /* For Safari 3.1 to 6.0, Chrome 4.0 to 26.0 */
   -moz-transition: 1200ms cubic-bezier(1, 0, 0, 1) 0ms; /* For Mozilla 4.0 to 16.0 */
   -o-transition: 1200ms cubic-bezier(1, 0, 0, 1) 0ms; /* For Opera 10.5 to 12.1 */
   transition: 1200ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.transition-speed1 {
   -webkit-transition: 2500ms cubic-bezier(1, 0, 0, 1) 0ms; /* For Safari 3.1 to 6.0, Chrome 4.0 to 26.0 */
   -moz-transition: 2500ms cubic-bezier(1, 0, 0, 1) 0ms; /* For Mozilla 4.0 to 16.0 */
   -o-transition: 2500ms cubic-bezier(1, 0, 0, 1) 0ms; /* For Opera 10.5 to 12.1 */
   transition: 2500ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.trans-left {
    transform: translate(-100%,0);
}

/* ------- Falls onScreen neuer Zustand Stil, hier kann irgendetwas verändert werden */

.trans-left.in {
    transform: translate(0,0) !important;
}

.trans-right {
    transform: translate(100%,0);
}

/* ------- Falls onScreen neuer Zustand Stil, hier kann irgendetwas verändert werden */

.trans-right.in {
    transform: translate(0,0) !important;
}


/** Button**/

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
    text-align: center;
  color: #ffffff;
  font-size: 30px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #666666);
  background-image: -moz-linear-gradient(top, #000000, #666666);
  background-image: -ms-linear-gradient(top, #000000, #666666);
  background-image: -o-linear-gradient(top, #000000, #666666);
  background-image: linear-gradient(to bottom, #000000, #666666);
  text-decoration: none;
}
